.container {
    min-height: 100%;
    height: 100%;
}

.semaforo {
    width: 250px;
    height: 560px;
    background-color: black;
    padding: 40px;
}

.luz {
    padding: 75px 0;
    height: 150px;
    border-radius: 100%;
    margin-top: 10px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.brillo-red {
    box-shadow: 0 0 50px 15px #a84538;
}

.brillo-yellow {
    box-shadow: 0 0 50px 15px #d6d44e;
}

.brillo-green {
    box-shadow: 0 0 50px 15px #6eb674;
}